src/main/mule/git-cicd-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c1909e38-c6b6-4e01-ad6b-4a906c3948e0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="git-cicd-demoFlow" doc:id="9f6ec84f-fd97-43d3-bd40-541a691a7966" >
		<http:listener doc:name="Listener" doc:id="81745868-d632-4d1d-b3fa-b76484acc93a" config-ref="HTTP_Listener_config" path="/path"/>
		<set-payload value='#["The Payload is this"]' doc:name="Set Payload" doc:id="f1748131-507c-465a-b7f6-0dd57d29c687" />
		<logger level="INFO" doc:name="Logger" doc:id="a9d9f08b-e7ce-4095-9311-c76c879e210f" message="#[payload]"/>
	</flow>
</mule>
